body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

h1, h2 {
    text-align: center;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.menu-bar{
    background: rgb(0, 100, 0);
    text-align: center;
    
    }
    .menu-bar ul{
        display: inline-flex;
        list-style: none;
        color: #fff;
    }
    .menu-bar ul li{
        width: 120px;
        margin: 5px;
        padding: 15px;
    }
    
    .active, .menu-bar ul li:hover
    {
        background :  #2bab0d ;
        border-radius : 3px ;
         }
         /* Your existing CSS styles for the menu bar */
    
         .contact-bar {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #f1f1f1;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        
          